<table>
	<tbody>
		<tr>
			<td></td>
			<td>2gb Modules</td>
			<td>4gb Modules</td>
			<td>8GB Kits</td>
			<td>16GB KIts</td>
		</tr>
		
		<tr>
			<td><a href="http://www.amazon.com/?_encoding=UTF8&amp;tag=ramseeker-20&amp;linkCode=ur2&amp;camp=1789&amp;creative=390957">Amazon</a></td>
			<td></td>
			<td><a href="http://www.amazon.com/gp/product/B002YU83YO/ref=as_li_ss_tl?ie=UTF8&amp;tag=ramseeker-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=B002YU83YO">$click to see price</a></td>
			<td><a href="http://www.amazon.com/gp/product/B002YUF8ZG/ref=as_li_ss_tl?ie=UTF8&amp;tag=ramseeker-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=B002YUF8ZG">$click to see price</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorystems.com">Data Memory Systems</a></td>
			<td></td>
			<td><a href="http://www.datamemorysystems.com/double-data-rate-3-ddr3-sdram-memory-upgrades/">$28.50</a></td>
			<td><a href="http://www.datamemorysystems.com/double-data-rate-3-ddr3-sdram-memory-upgrades/">$57.00</a></td>
			<td><a href="http://www.datamemorysystems.com/double-data-rate-3-ddr3-sdram-memory-upgrades/">$114.00</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td></td>
			<td><a href="http://www.memoryx.net/mc723lla.html">$27.98</a></td>
			<td><a href="http://www.memoryx.net/mc723lla.html">$55.96</a></td>
			<td><a href="http://www.memoryx.net/mc723lla.html">$111.92</a></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=2.0G-PC3-SO10666&amp;AttributeCode[1]=Computer&amp;AttributeValue[1]=MacBook+Pro+13.3-inch+Intel+Core+i5+2.3GHz+%28MC724LL%2FA%29">$23.00</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=4.0G-PC3-SO10666&amp;AttributeCode[1]=Computer&amp;AttributeValue[1]=MacBook+Pro+13.3-inch+Intel+Core+i5+2.3GHz+%28MC724LL%2FA%29">$45.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=8.0G-PC3-SO10666">$79.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=8.0G-PC3-SO10666">$159.70</a></td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3_1333MHz_SDRAM">$35.50</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3_1333MHz_SDRAM">$64.99</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3_1333MHz_SDRAM">$127.50</a></td>
		</tr>
		
	</tbody>
</table>
