<table>
	<tbody>
		<tr>
			<td></td>
			<td>256mb</td>
			<td>512mb</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20SDRAM&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=SWW4EQF3LQD6JKF3">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20SDRAM&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=SWW4EQF3LQD6JKF3">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20SDRAM&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=SWW4EQF3LQD6JKF3">Amazon</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g3-350mhz-blueberry-m7469ll/a-slot-loading-memory-upgrades/">$12.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g3-350mhz-blueberry-m7469ll/a-slot-loading-memory-upgrades/">$19.50</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.net">Memory X</a></td>
			<td><a href="http://www.memoryx.com/imac400mhz.html">$9.98</a></td>
			<td><a href="http://www.memoryx.com/imac400mhz.html">$15.98</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=256M-AP100&amp;AttributeCode[1]=Computer&amp;AttributeValue[1]=iMac+G3+350Mhz+%28Slot+Loading+CDROM%29">$15.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=PROD&amp;Product_Code=512M-PC100&amp;AttributeCode[1]=Computer&amp;AttributeValue[1]=iMac+G3+350Mhz+%28Slot+Loading+CDROM%29">$19.85</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G3_450MHz_500MHz_600MHz_700MHz">$9.99</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G3_450MHz_500MHz_600MHz_700MHz">$15.79</a></td>
			<td></td>
			<td></td>
		</tr>
		
	</tbody>
</table>
