<table>
	<tbody>
		<tr>
			<td></td>
			<td>512mb</td>
			<td>1gb</td>
			<td>2GB Kits</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=ddr2%20pc3200&amp;linkCode=ur2&amp;sprefix=ddr2%20pc3%2Caps&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=OE5XC3G4YLMWUDGL">Amazon</a></td>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=ddr2%20pc3200&amp;linkCode=ur2&amp;sprefix=ddr2%20pc3%2Caps&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=OE5XC3G4YLMWUDGL">Check Price</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=ddr2%20pc3200%201gb&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Addr2%20pc3200%201gb&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=IV5XHQWMBVVQZP7J">Check Price</a></td>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=ddr2%20pc3200%20512mb&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Addr2%20pc3200%20512mb&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=IPRULN2RFFRSMRJP">Amazon</a></td>
			<td></td>
		</tr>
		
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-1-6ghz-17-m9248ll/a-2004-memory-upgrades/">$12.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-1-6ghz-17-m9248ll/a-2004-memory-upgrades/">$13.50</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-1-6ghz-17-m9248ll/a-2004-memory-upgrades/">$25.00</a></td>
			<td></td>
		</tr>
		
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.6GHz_1.8GHz_2.0GHz">$9.97</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.6GHz_1.8GHz_2.0GHz">$16.88</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.6GHz_1.8GHz_2.0GHz">$31.50</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td>$9.98</td>
			<td>$19.98</td>
			<td>$39.96</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td>$7.85</td>
			<td>$13.85</td>
			<td>$25.85</td>
			<td></td>
		</tr>
	</tbody>
</table>
