<table>
	<tbody>
		<tr>
			<td></td>
			<td>1GB</td>
			<td>2GB</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc4200%20sodimm&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=KOMAC7SRZBAMCZNS">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc4200%20sodimm%201GB&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc4200%20sodimm%201GB&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=UV6NZA5OVNFQNFDR">Check Price</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc4200%20sodimm%202gb&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc4200%20sodimm%202gb&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=C37QE7J4ARJLUASQ">Check Price</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-memory-upgrades/">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-memory-upgrades/">$11.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g5-memory-upgrades/">$20.00/a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com/configurator/configurator.php?mch=iMac+G5+1.9GHz+17-inch+%28MA063L%2FA%29&amp;mfr=Apple&amp;mdn=iMac+G5+Series">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/configurator/configurator.php?mch=iMac+G5+1.9GHz+17-inch+%28MA063L%2FA%29&amp;mfr=Apple&amp;mdn=iMac+G5+Series">$13.85</a></td>
			<td><a href="http://www.oempcworld.com/configurator/configurator.php?mch=iMac+G5+1.9GHz+17-inch+%28MA063L%2FA%29&amp;mfr=Apple&amp;mdn=iMac+G5+Series">$25.85</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.com/apimg5117scm.html">MemoryX</a></td>
			<td><a href="http://www.memoryx.com/apimg5117scm.html">$13.98</a></td>
			<td><a href="http://www.memoryx.com/apimg5117scm.html">$25.98</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.9GHz_2.1GHz_iSight">Other World Computing</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.9GHz_2.1GHz_iSight">$14.99</a></td>
			<td><a href="http://eshop.macsales.com/shop/apple/memory/iMac/G5_1.9GHz_2.1GHz_iSight">$29.99</a></td>
			<td></td>
			<td></td>
		</tr>
		
	</tbody>
</table>
