<table>
	<tbody>
		<tr>
			<td></td>
			<td>1GB</td>
			<td>2GB</td>
			<td>4GB</td>
			<td>8GB KIts</td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc%205300&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=RD4RXR4LW2MBF6F2">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc%205300&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=RD4RXR4LW2MBF6F2">Check Prices</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc%205300&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=RD4RXR4LW2MBF6F2">Check Prices</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc%205300&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=RD4RXR4LW2MBF6F2">Check Prices</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc%205300&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=RD4RXR4LW2MBF6F2">Check Prices</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-quad-core-intel-xeon-2-66ghz-ma356ll/a-2006-memory-upgrades/">$25.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-quad-core-intel-xeon-2-66ghz-ma356ll/a-2006-memory-upgrades/">$21.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-quad-core-intel-xeon-2-66ghz-ma356ll/a-2006-memory-upgrades/">$39.50</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-quad-core-intel-xeon-2-66ghz-ma356ll/a-2006-memory-upgrades/">$84.00</a></td>
		</tr>
		<tr>
			<td><a href="http://www.eshop.macsales.com">OWC</a></td>
			<td></td>
			<td><a href="http://www.eshop.macsales.com">$57.99</a></td>
			<td></td>
			<td><a href="http://www.eshop.macsales.com">$134.99</a></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-5300.html">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-5300.html">$13.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-5300.html">$19.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-5300.html">$79.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-5300.html">$159.85</a></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.com/quad266.html">MemoryX</a></td>
			<td><a href="http://www.memoryx.com/quad266.html">$19.96</a></td>
			<td><a href="http://www.memoryx.com/quad266.html">$29.98</a></td>
			<td><a href="http://www.memoryx.com/quad266.html">$19.96</a></td>
			<td><a href="http://www.memoryx.com/quad266.html">$99.96</a></td>
		</tr>
		
	</tbody>
</table>
