<table>
	<thead>
		<tr>
			<th></th>
			<th>8GB Kits</th>
			<th>16GB Kits</th>
			<th>32GB Kits</th>
			<th>64GB Kits</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc6400&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=DRPLNS6S3IILYURE">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc6400&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=DRPLNS6S3IILYURE">Check Price</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc6400&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=DRPLNS6S3IILYURE">Check Price</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc6400&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=DRPLNS6S3IILYURE">Check Price</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=240%20pin%20pc6400&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=DRPLNS6S3IILYURE">Check Price</a></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-8-core-2-x-quad-core-intel-xeon-2-8ghz-ma970ll/a-early-2008-memory-upgrades/">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-8-core-2-x-quad-core-intel-xeon-2-8ghz-ma970ll/a-early-2008-memory-upgrades/">$118.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-mac-pro-8-core-2-x-quad-core-intel-xeon-2-8ghz-ma970ll/a-early-2008-memory-upgrades/">$236.00</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com">OWC</a></td>
			<td><a href="http://www.macsales.com">$197.99</a></td>
			<td><a href="http://www.macsales.com">$389.99</a></td>
			<td><a href="http://www.macsales.com">$849.99</a></td>
			<td><a href="http://www.macsales.com">$2149.00</a></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.com/mproma970lla.html">MemoryX</a></td>
			<td><a href="http://www.memoryx.com/mproma970lla.html">$99.96</a></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-6400.html">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-6400.html">$159.85</a></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
	</tbody>
</table>
