<table>
	<thead>
		<tr>
			<th></th>
			<th>2GB</th>
			<th>4GB</th>
			<th>8GB</th>
			<th>16GB</th>
		</tr>
	</thead>
	<tbody>
		
		
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td></td>
			<td></td>
			<td>$99.00</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td>$23.85</td>
			<td>$45.50</td>
			<td>102.85</td>
			<td>$179.85</td>
		</tr>
		
		<tr>
		
		
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td>$23.98</td>
			<td>$41.98</td>
			<td>$75.98</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td>$24.85</td>
			<td>$45.85</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
