<table>
	<tbody>
		<tr>
			<td></td>
			<td>1gb Modules</td>
			<td>2gb Modules</td>
			<td>4GB Kits</td>
			<td>8GB Kits</td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&amp;location=http%3A%2F%2Fwww.amazon.com%2Fs%3Fie%3DUTF8%26x%3D0%26ref_%3Dnb_sb_noss%26y%3D0%26field-keywords%3Dmacbook%2520memory%26url%3Dsearch-alias%253Delectronics%23%3Fkeywords%3Dmacbook%20memory&amp;tag=ramseeker-20&amp;linkCode=ur2&amp;camp=1789&amp;creative=390957">Amazon</a></td>
			<td></td>
			<td><a href="http://www.amazon.com/gp/product/B001KB6Z2U/ref=as_li_ss_tl?ie=UTF8&amp;tag=ramseeker-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=B001KB6Z2U">$click to see price</a></td>
			<td><a href="http://www.amazon.com/gp/product/B001KUL012/ref=as_li_ss_tl?ie=UTF8&amp;tag=ramseeker-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=B001KUL012">$click to see price</a></td>
			<td><a href="http://www.amazon.com/gp/product/B001KUL012/ref=as_li_ss_tl?ie=UTF8&amp;tag=ramseeker-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=B001KUL012">$click to see price</a></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td></td>
			<td><a href="http://www.datamemorysystems.com/_apple_info/Apple_MacBook_Intel_Core_2_Duo_13_2.4GHz_Memory_1615.asp">$18.00</a></td>
			<td><a href="http://www.datamemorysystems.com/_apple_info/Apple_MacBook_Intel_Core_2_Duo_13_2.4GHz_Memory_1615.asp">$36.00</td>
			<td><a href="http://www.datamemorysystems.com/dm50-223-1-x-2/">$57.00</a></td>
		</tr>
		<tr>
			<td><a href="http://www.exittechnologies.com">Exit Technologies</a></td>
			<td></td>
			<td><a href="http://www.exittechnologies.com/product/1x-2gb-ddr3-1066-pc3-8500-1066mhz-204-pin-non-ecc-cl7-sodimm">$24.00</a></td>
			<td><a href="http://www.exittechnologies.com/product/1x-2gb-ddr3-1066-pc3-8500-1066mhz-204-pin-non-ecc-cl7-sodimm">$48.00</a></td>
			<td><a href="http://www.exittechnologies.com/product/1x-4gb-ddr3-1066-pc3-8500-1066mhz-204-pin-non-ecc-cl7-sodimm">$90.00</a></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td></td>
			<td><a  href="http://www.memoryx.net/mc516lla.html">$19.98</a></td>
			<td><a  href="http://www.memoryx.net/mc516lla.html">$39.96</a></td>
			<td><a  href="http://www.memoryx.net/mc516lla.html">$53.96</a></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/oempcworld">OEMPCWORLD</a></td>
			<td></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC3-SO10666.html">$24.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC3-SO10666.html">$49.70</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC3-SO10666.html">$91.70</a></td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td></td>
			<td></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3">$36.79</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3">66.99</a></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/crucial">Crucial</a></td>
			<td></td>
			<td>$31.99</td>
			<td>$63.99</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/1800">18004Memory</a></td>
			<td>$12.00</td>
			<td>$19.99</td>
			<td>$39.98</td>
			<td>$86.00</td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/ramjet">RAMJET</a></td>
			<td></td>
			<td>$39.99</td>
			<td>$69.99</td>
			<td>$119.99</td>
		</tr>
	</tbody>
</table>
