<table>
	<thead>
		<tr>
			<th></th>
			<th>8GB</th>
			<th>16GB</th>
			<th>32GB</th>
			<th>64GB</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.ramseeker.com/AMZ1866DDR3SDRAM">Amazon</a></td>
			<td><a href="http://www.ramseeker.com/AMZ1866DDR3SDRAM_8GB">Check Price</a></td>
			<td><a href="http://www.ramseeker.com/AMZ1866DDR3SDRAM_16GB">Check Price</a></td>
			<td><a href="http://http://www.ramseeker.com/AMZ1866DDR3SDRAM_32GB">Check Price</a></td>
			<td><a href="http://www.ramseeker.com/AMZ1866DDR3SDRAM_64GB">Check Price</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.macsales.com">OWC</a></td>
			<td></td>
			<td></td>
			<td>$407.00</td>
			<td>$788.00</td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td>$105.00</td>
			<td>$179.00</td>
			<td>$420.00</td>
			<td>$716.00</td>
		</tr>
	</tbody>
</table>
