
<center>

<table>
	<tbody>
		<tr>
			<td></td>
			<td> </td>
			<td><p style="color:#e0e0e0">8GB</p></td>
			<td><p style="color:#e0e0e0">16GB</p></td>
			
		</tr>
		
		<tr>
		
			<td><a href="http://amzn.to/1TC7Hta"rel="nofollow">Amazon</a></td>
			<td></td>
			<td> <a href="http://amzn.to/1TC7UMX">check</a> </td>
			<td><a href="http://amzn.to/1UWdlIj"rel="nofollow">check</a></td>

		</tr>
		
		<tr>
		
			<td><a href="http://www.memoryx.net"rel="nofollow">MemoryX</a></td>
			<td></td>
			<td> <a href="http://www.memoryx.com/cwm.html">$47.96</a> </td>
			<td><a href="http://www.memoryx.net/cyx.html"rel="nofollow">$59.96</a></td>

		</tr>
		<tr>
			<td><a href="http://wwww.oempcworld.com">OEMPCWORLD</a></td>
			<td></td>
			<td>  <a href="https://www.oempcworld.com/OEMPCworld-com/4_0G-PC3-SO12800-Samsung.html"> $49.70 </a></td>
			<td><a href="https://www.oempcworld.com/OEMPCworld-com/8_0G-PC3-SO12800.html">$79.70</a></td>
			<td>  </td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com"rel="nofollow">OWC</a></td>
			<td></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3_1600MHz_SDRAM"rel="nofollow">$49.99</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook_MacBook_Pro/Upgrade/DDR3_1600MHz_SDRAM"rel="nofollow">$99.75</a></td>
			
		</tr>
	</tbody>
</table>
</center>
