<table>
	<thead>
		<tr>
			<th></th>
			<th>128MB</th>
			<th>256MB</th>
			<th>512mb</th>
			<th>1GB</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20sdram%20168%20pin&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc100%20sdram%20168%20pin&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=ZDZN74HW7NCLHGOS">Amazon</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20sdram%20168%20pin&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc100%20sdram%20168%20pin&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=ZDZN74HW7NCLHGOS">Check</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20sdram%20168%20pin&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc100%20sdram%20168%20pin&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=ZDZN74HW7NCLHGOS">Check</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=512mb%20pc2700&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=CEBG4JDEX6GI4SLQ">check prices</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=1gB%20pc2700&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3A1gB%20pc2700&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=BJT7SGA5B7NBDEHF">check prices</a></td>
		</tr>
		
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=pc100%20sdram%20168%20pin&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3Apc100%20sdram%20168%20pin&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=ZDZN74HW7NCLHGOS">Check</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/PC2100-2700-3200-DDR-184pin//">$11.49</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/PC2100-2700-3200-DDR-184pin/">$19.999</a></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-power-mac-g4-400mhz-m7631ll/a-pci-graphics-memory-upgrades/">$10.00</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-power-mac-g4-400mhz-m7631ll/a-pci-graphics-memory-upgrades//">$12.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$10.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$16.500</a></td>
		</tr>
		
		
		
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$14.98</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$25.98</a></td>
			<td><a  href="http://www.memoryx.com/pc2700.html">12.98</a></td>
			<td><a  href="http://www.memoryx.com/pc2700.html">$19.98</a></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$13.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$25.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=CTGY&amp;Category_Code=PC2700">$9.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=CTGY&amp;Category_Code=PC2700">$19.85</a></td>
		</tr>
		
		
	</tbody>
</table>
