<table>
	<tbody>
		<tr>
			<td>Vendor</td>
			<td>16MB</td>
			<td>32MB</td>
			<td>64MB</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=72%20pin%20simms&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=VDUKU6DS7RVJFWRG">Amazon</a></td>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=72%20pin%20simms&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=VDUKU6DS7RVJFWRG">Check</a></td>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=72%20pin%20simms&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=VDUKU6DS7RVJFWRG">Check</a></td>
			<td><a href="http://www.amazon.com/mn/search/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=72%20pin%20simms&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=VDUKU6DS7RVJFWRG">Check</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/apple-imac-g3-233mhz-bondi-blue-m6709ll/am6709ll/b-original-rev-ab-memory-upgrades/">$29.00</a></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td></td>
			<td><a href="http://www.memoryx.com/m6709lla.html">$8.98</a></td>
			<td><a href="http://www.memoryx.com/m6709lla.html">$9.98</a></td>
			<td></td>
		</tr>
		
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td>$9.29</td>
			<td>$13.99</td>
			<td>$19.97</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
