<table>
	<thead>
		<tr>
			<th></th>
			<th>1gb Modules</th>
			<th>2gb Modules</th>
			<th>4GB Kits</th>
			<th>8GB Kits</th>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td><a href="http://www.ramseeker.com/AMZBestsellers">Amazon</a></td>
			<td></td>
			<td><a href="http://www.ramseeker.com/AMZBestsellers">$click to see price</a></td>
			<td><a href="http://www.ramseeker.com/AMZBestsellers">$click to see price</a></td>
			<td><a href="http://www.ramseeker.com/AMZBestsellers">$click to see price</a></td>
		</tr>
		
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook/White/2.13GHz">$18.79</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook/White/2.13GHz">$30.79</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook/White/2.13GHz">$52.99</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr2-memory/">$12.50</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr2-memory/">$18.50</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr2-memory/">37.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr2-memory/">$178.00</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$14.98</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$25.98</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$51.96</a></td>
			<td><a  href="http://www.memoryx.com/pc26400sodimm.html">$171.96</a></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$13.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$25.85</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$51.70</a></td>
			<td><a href="http://www.oempcworld.com/OEMPCworld-com/PC2-SO6400.html">$159.70</a></td>
		</tr>
		
	</tbody>
</table>
