<table>
	<tbody>
		<tr>
			<td>Vendor</td>
			<td>16GB Kits</td>
			<td>32GB Kits</td>
			<td>64GB Kits</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.tkqlhce.com/click-1548159-10273954">Crucial</a>
</td>
			<td></td>
			<td><a href="http://www.tkqlhce.com/click-1548159-10273954?url=http://www.crucial.com/store/mpartspecs.aspx?mtbpoid=BA2FD285A5CA7304">$419.99</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/gp/product/B00GEC3ZJQ/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00GEC3ZJQ&amp;linkCode=as2&amp;tag=ramseeker-20">Amazon</a></td>
			<td><a href="http://www.amazon.com/gp/product/B007TG91WQ/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B007TG91WQ&amp;linkCode=as2&amp;tag=ramseeker-20">$click</a></td>
			<td><a href="http://www.amazon.com/gp/product/B00GEC3ZJQ/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00GEC3ZJQ&amp;linkCode=as2&amp;tag=ramseeker-20">$click</a></td>
			<td><a href="http://www.amazon.com/gp/product/B00HFB4RTW/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00HFB4RTW&amp;linkCode=as2&amp;tag=ramseeker-20">$click</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td><a href="http://eshop.macsales.com/item/Other%20World%20Computing/1866D3E8M16/>$209.00</a></td>
			<td><a href="http://eshop.macsales.com/item/Other%20World%20Computing/1866D3E8M32/">$428.00</a></td>
			<td><a href="http://eshop.macsales.com/item/Other%20World%20Computing/1866D3R9M64/">$779.00</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td></td>
			<td><a href="http://www.datamemorysystems.com/dm61-789-x-4/">$396.00</a></td>
			<td><a href="http://www.datamemorysystems.com/dm61-785-x-4/">$716.00</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/ramjet">RAMJET</a></td>
			<td>$259.99</td>
			<td>$379.99</td>
			<td>$449.99</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td><a href="http://www.memoryx.com/dbi.html">$199.96</a></td>
			<td><a href="http://www.memoryx.com/dbx.html">$379.96</a></td>
			<td><a href="http://www.memoryx.com/dbx.html">$759.92</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
