<table>
	<tbody>
		<tr>
			<td></td>
			<td>2GB Kits</td>
			<td>4GB Kits</td>
			<td>512mb</td>
			<td>1GB</td>
		</tr>
		<tr>
			<td><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&amp;location=http%3A%2F%2Fwww.amazon.com%2Fs%3Fie%3DUTF8%26x%3D0%26ref_%3Dnb_sb_noss%26y%3D0%26field-keywords%3Dmacbook%2520memory%26url%3Dsearch-alias%253Delectronics%23%3Fkeywords%3Dmacbook%20memory&amp;tag=ramseeker-20&amp;linkCode=ur2&amp;camp=1789&amp;creative=390957">Amazon</a></td>
			<td></td>
			<td></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=512mb%20pc2700&amp;linkCode=ur2&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=CEBG4JDEX6GI4SLQ">check prices</a></td>
			<td><a href="http://www.amazon.com/s/?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=1gB%20pc2700&amp;linkCode=ur2&amp;rh=i%3Aaps%2Ck%3A1gB%20pc2700&amp;tag=ramseeker-20&amp;url=search-alias%3Daps&amp;linkId=BJT7SGA5B7NBDEHF">check prices</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.macsales.com">Other World Computing</a></td>
			<td></td>
			<td><a href="http://eshop.macsales.com/shop/memory/Apple_MacBook/White/2.13GHz">$52.99</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/PC2100-2700-3200-DDR-184pin//">$9.97</a></td>
			<td><a href="http://eshop.macsales.com/shop/memory/PC2100-2700-3200-DDR-184pin/">$16.88</a></td>
		</tr>
		<tr>
			<td><a href="http://www.datamemorysystems.com">Data Memory Systems</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$25.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$58.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$12.00</a></td>
			<td><a href="http://www.datamemorysystems.com/ddr-memory/">$12.50</a></td>
		</tr>
		
		<tr>
			<td><a href="http://www.memoryx.net">MemoryX</a></td>
			<td></td>
			<td></td>
			<td><a  href="http://www.memoryx.com/pc2700.html">9.98</a></td>
			<td><a  href="http://www.memoryx.com/pc2700.html">$19.98</a></td>
		</tr>
		<tr>
			<td><a href="http://www.oempcworld.com">OEMPCWORLD</a></td>
			<td></td>
			<td></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=CTGY&amp;Category_Code=PC2700">$14.85</a></td>
			<td><a href="http://www.oempcworld.com/Merchant2/merchant.mvc?Screen=CTGY&amp;Category_Code=PC2700">$19.85</a></td>
		</tr>
		
	</tbody>
</table>
