<table>
	<tbody>
		<tr>
			<td>Find the Right Memory for Your Mac!</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td><a href="http://ramseeker.com/macbook-pro-memory-upgrade-prices/">MacBook Pro</a></td>
			<td><a href="http://www.ramseeker.com/2014/10/apple-imac-memory-upgrade-prices">iMac</a></td>
			<td><a href="http://ramseeker.com/macbook-memory-upgrade-prices/">MacBook</a></td>
			<td><a href="http://ramseeker.com/mac-mini-memory-upgrade-prices/">Mac Mini</a></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/apple-powermac-g5-memory-upgrades/">PowerMac G5</a></td>
			<td><a href="http://www.ramseeker.com/powerbook-g3-and-g4-memory-upgrades/">PowerBook G3/G4</a></td>
			<td><a href="http://www.ramseeker.com/ibook-g3g4-memory-upgrades/">iBook G3/G4</a></td>
			<td><a href="http://www.ramseeker.com/apple-powermac-g3-and-powermac-g4-memory-upgrades/">PowerMac G4</a></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/apple-powermac-g3-and-powermac-g4-memory-upgrades/">PowerMac G3</a></td>
			<td><a href="http://www.ramseeker.com/apple-powermac-g3-and-powermac-g4-memory-upgrades//">PowerMac G4 Cube</a></td>
			<td><a href="http://www.ramseeker.com/apple-emac-memory-upgrades/">eMac</a></td>
			<td><a href="http://www.ramseeker.com/apple-powermac-6xxx-9xxx-memory-upgrades/">PowerMac 6xxx-9xxx</a></td>
		</tr>
		<tr>
			<td><a href="http://ramseeker.com/mac-mini-memory-upgrade-prices/">Mac Mini</a></td>
			<td>PowerMac G4</td>
			<td>PowerMac 6xxx to 9xxx</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.ramseeker.com/apple-quadra-memory-upgrade-prices/">Quadras</a></td>
			<td><a href="http://www.ramseeker.com/apple-performa-and-older-mac-memory-upgrades/">Performas/Older Macs</a></td>
			<td><a href="http://www.ramseeker.com/apple-mac-pro-memory-upgrades/">Mac Pro</a></td>
			<td></td>
		</tr>
	</tbody>
</table>
