


<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}">

 ramseeker </a>
    {% endif %}

  <a href="{{ site.baseurl }}about">about </a>
  <a href="{{ site.baseurl }}models"> memory </a>

<a href="http://www.twitter.com/jimowes"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
<BR> <BR>


sponsored by<BR><BR><BR>



 <a class="cta" href="http://www.oempcworld.com"></i> OEMPCWORLD</a>
 <a class="cta" href="http://www.memoryx.net"></i> MemoryX </a><BR><BR><BR>

</nav>



